{
    "Name": "Multy-test",
    "Database": {
        "Address": "mongodb-test:27017",
        "TableUsers": "UserCollection-test",
        "DBUsers": "userDB-tesst",
        "DBFeeRates": "BTCMempool-test",
        "DBTx": "DBTx-test",
        "DBStockExchangeRate": "DBStockExchangeRate-test"
    },
    "NSQAddress": "nsq-test:4150",
    "BTCNodeAddress": "btcd-testnet:18334",
    "RestAddress": "0.0.0.0:7778",
    "SocketioAddr": "0.0.0.0:7780",
    "SSL": {
        "Enabled": false,
        "Key": "",
        "Crt": ""
    },
    "BTCAPITest": {
        "Token": "*************",
        "Coin": "btc",
        "Chain": "test3"
    },
    "BTCAPIMain": {
        "Token": "**************",
        "Coin": "btc",
        "Chain": "main"
    },
    "Firebase": {
        "ServerKey": "*************"
    },
    "BTCSertificate": "rpc.cert",
    "Logs": {
        "Handlers": [
            {
                "Type": "stderr",
                "Level": "DEBUG"
            },
            {
                "Type": "file",
                "Level": "INFO",
                "Filename": "info.log"
            },
            {
                "Type": "file",
                "Level": "WARN",
                "Filename": "error.log"
            },
            {
                "Type": "file",
                "Level": "DEBUG",
                "Filename": "debug.log"
            }
        ],
        "CallerInfo": false,
        "Logpath": "logs"
    }
}
